.navbar {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(73, 73, 73);
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}



@media (min-width: 768px) {
    .app-title {
        margin-left: -15px;
    }
}

.app-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    float: left;
    padding: 16px 15px;
    font-size: 17px;
    line-height: 18px;
    height: 50px;

}

@media (max-width: 767px) {
    .app-title {
        left: 40px;
        top: -1px;
    }
}

a {
    text-decoration: none;
}


.about_btn {
    color: #ecf0f1;
    transition: all .2s ease-in-out;
    line-height: 20px;
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar li {
    top: 0;
    position: relative;
    display: block;
}

.about:hover {
    background-color: gray;
}


@media (min-width: 861px) {
    .navbar_ul {
        float: right!important;
        margin: 0;
    }
    .navbar_ul:last-child{
        margin-right: -15px;
    }
    .about_btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .navbar li {
        float: left;
    }
}